// VARIABLES
$primary: #2a9bda;
$secondary: #4c5966;

// GENERAL

body,
html {
  letter-spacing: -0.2px;
  color: $secondary;
}

a {
  &:link,
  &:visited {
    border-bottom: 2px solid $primary;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 $primary;
    color: inherit;
    transition: all 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  &:hover,
  &:focus {
    background: $primary;
    color: #fff;
    transition: all 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
}

// COMPONENTS

.main-logo {
  position: fixed;
  left: 20px;
  top: 20px;
  svg {
    height: 48px;
  }
}

.hero-img {
  height: 100vh;
  background: #888 url(/images/office-work-b+w.jpeg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fade-in 2s;
    background: #fff;
    opacity: 0;
    pointer-events: none;
  }
}

.hero-title {
  color: #fff;
  animation: color-change 2s;
}

// ANIMATIONS

@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes color-change {
  0% {
    color: $secondary;
  }
  100% {
    color: #fff;
  }
}
